<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta name="qrichtext" content="1" />
<style>
b { color: #79965f; font-size: 11pt; font-family: Verdana, Arial, Helvetica; font-weight: bold; display: block; padding-left: 6px; }
blockquote img { border: 1px outset black; display: block; max-width: 800px; }
blockquote { background-color: white; width: 600px; border: 12px solid white; }
</style>
</head>
<body><blockquote>
{{ contents }}
</blockquote>
</body>
</html>
